<html>
<head>
    <title>Register</title>
</head>
<body>
Register form

{{#message}}
    {{message}}
{{/message}}
<div>
    <form action="/registration" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <div>
            <input type="submit" value="ADD"/>
        </div>
    </form>
</div>

</body>
</html>